.col-md-6 {
    padding: 50px;
    margin: 0 auto;
    width: 100px;
    background-color: #DEF7DB;
    border-color: #364652 !important;
}

.col-md-8 {
    border-style: dashed !important;
    border-color: #364652 !important;
    height: auto;
    margin: auto;
    padding: 15px;
}

.genPass {
    color:  #C7DBE6 !important;
    background-color: #282A30 !important;
    float: left;
    padding: 7px;
    margin: 10px;
}

.copy {
    color: #C7DBE6 !important;
    background-color: #282A30 !important;
    float: right;
    padding: 7px;
    margin: 10px;
}

h1 {
    color:  #DEF7DB;
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: #364652;

}

hr {
    border-color: #364652;

}

body {
    background-image: url(images/background-black-colors-952670.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #DEF7DB;
}

textarea.formcontrol {
    color: #A2C3A4;
}

.body-text {
    border-color: #364652;
}

.genPass:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.copy:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}



/* Media Queries*/

@media only screen and (max-width: 768px) {
    body {
      background-image: url(images/background-black-colors-952670.jpg);
    }

    .genPass {
        float: left;
    }

    .copy {
        float: left;
    }




  }